
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: rgb(47, 46, 46);
overflow: hidden;

}
input[type=text]{
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    
}

input[type=text]::placeholder{
    text-align: center;
}
button{
    display: block;
    position: absolute;
    top: 185px;
    right: 215px;
    margin: 1rem;
    height: 2rem;
    width: 10rem;
    border-radius:5px ;
    font-size: 16px;
    font-weight: bold;
}

label{
    display: inline-block;
    font-weight: bolder;
}
.container{
    display:flex;
    flex-direction: column;
    margin: 1.5rem;
    max-width: 40rem;
    height: 800px;
    flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
    padding: 40px 80px 80px;
}
#rotate-app{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40rem;
    height: 250px;
    margin-bottom: 3rem;
    background: rgb(47, 255, 137);
    border-radius: 10px;
}

#split-app{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40rem;
    height: 250px;
    margin-bottom: 10rem;
    background: rgb(234, 247, 90);
    border-radius: 10px;
}