@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');



* {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(77, 75, 75);
    height: 100vh;
    overflow: hidden;

}

h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

input[type=text] {
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;

}

input[type=file] {
    position: absolute;
}

input[type=text]::placeholder {
    text-align: center;
}

button {
    display: block;
    position: absolute;
    padding: 0.5rem 1rem;
    top: 210px;
    right: 150px;
    margin: 2rem;
    height: 3rem;
    width: 8rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

label {
    display: inline-block;
    font-weight: bolder;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    height: auto;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    padding: 40px 80px 80px;
}

#rotate-app,
#split-app {
    width: 90%;
}

#rotate-app {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30rem;
    height: 300px;
    background: #CAF2C2;
    border-radius: 90px;
    margin-top: 0;
    margin-right: 5rem;
}

/* Cat Ear shape */
#rotate-app::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -60px;
    left: 30px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #CAF2C2;
    filter: drop-shadow(320px 0 0 #CAF2C2) drop-shadow(10px 0 0 #747773);
    z-index: -1;
    
}

/* หนวดแมว */
#rotate-app::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    top: 120px;
    left: -20px;
    background: #000000;
    box-shadow: 450px 0 #000000,0px 40px #000000 ,0px 80px #000000,450px 40px #000000,450px 80px #000000;
    z-index: 1;
    
}



#split-app {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30rem;
    height: 300px;
    margin-bottom: 10rem;
    background: #ffdce3;
    border-radius: 90px;
    margin: 1rem;
}

#split-app::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -60px;
    left: 30px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 86.6px solid #ffdce3;
    filter: drop-shadow(320px 0 0 #ffdce3);
    z-index: -2;
}

/* หนวดแมว */
#split-app::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    top: 120px;
    left: -20px;
    background: #000000;
    box-shadow: 450px 0 #000000,0px 40px #000000 ,0px 80px #000000,450px 40px #000000,450px 80px #000000;
    z-index: 1;
    
}