<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type"text/css" href="{{url_for('static',filename='style.css')}}">
    <title>PDF Manipulator</title>

</head>
<body>
    <h1 class="title">PDF Rotate & Split</h1>
    <div class="container">
        
        <div id="rotate-app">
            <form action="/rotate" method="post" enctype="multipart/form-data">
                <h1 class="label-title">Rotate</h1>
                <input type="file" id="rotate-input" name="pdf_file" accept=".pdf" required>
                <label for="page_numbers">Select Pages to Rotate:</label>
                <input type="text" name="page_numbers" placeholder="2, 3" required>
        
                <label for="degrees">Select Degrees to Rotate:</label>
                <input type="text" name="degrees" placeholder="90, 180 , -90 , 180" required>
        
                <button type="submit" id="rotate-btn">Rotate Pages</button>
            </form>
        </div>
            
        <div id="split-app">
            <form action="/split" method="post" enctype="multipart/form-data">
                <h1 class="label-title">Split</h1>
                <input type="file" name="pdf_file" accept=".pdf" required>

                <label for="start_page">Start Page:</label>
                <input type="text" name="start_page" placeholder="1" required>
        
                <label for="end_page">End Page:</label>
                <input type="text" name="end_page" placeholder="4" required>
        
                <button type="submit" id="split-btn">Split Pages</button>
            </form>
        </div>
       
    </div>
    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>
